[Unit]
Description=rabbot server (gunicorn)
After=network.target

[Service]
PIDFile=/run/rabbot/pid
User=www-data
Group=www-data
RuntimeDirectory=rabbot
WorkingDirectory=/srv/bot.momo0v0.club/rabbot
ExecStart=/usr/local/bin/gunicorn --pid /run/rabbot/pid --bind 127.0.0.1:9002 --workers 2 rabbot:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
